.banner {
    background-image: url(/src/assests/banner-img.jpeg),
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
    height: 500px;
    width: 100%;
    /* border: 1px solid red; */
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .title {
    color: white;
    font-weight: bold;
    font-size: 59px;
  }
